<form [formGroup]="memberForm" (ngSubmit)="onSubmit()">
  
     <div>
        <label for="name">
          Name
        </label>
        <input id="name" type="text" formControlName="name">
      </div>
    <br>
    <div>
        <label for="surname">
          Surname
        </label>
        <input id="surname" type="text" formControlName="surname">
      </div>

    
      <div>
        <label for="address">
          Address
        </label>
        <input id="address" type="text" formControlName="address">
      </div>

      <div>
        <label for="codfiscale">
          Cod.
        </label>
        <input id="codfiscale" type="text" formControlName="codfiscale">
      </div>

      <div>
        <label for="email">
            email
        </label>
        <input id="email" type="text" formControlName="email">
      </div>

      <div>
          Card ID: {{this.card_id}}
        
      </div>
<div>
    <button class="button button1" type="submit">Save</button>
  </div>
</form>